click==8.1.7
colorama==0.4.6
distlib==0.3.8
filelock==3.13.1
greenlet==3.0.3
markdown-it-py==3.0.0
mdurl==0.1.2
platformdirs==4.2.0
Pygments==2.17.2
rich==13.7.1
shellingham==1.5.4
SQLAlchemy==2.0.27
typer==0.9.0
typing_extensions==4.10.0
virtualenv==20.25.1
